<!DOCTYPE html>
<html>
<head>
  <title>SEO CMS</title>
  <%= stylesheet_link_tag    "seo_cms/application", :media => "all" %>
  <%= javascript_include_tag "seo_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'SEO CMS', SeoCms::Engine.mounted_path.spec.to_s + '/seo_content', class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <%= yield :navbar_right %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Flash messages -->
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> fade in">
      <button class="close" data-dismiss="alert">×</button>
      <%= message %>
    </div>
  <% end %>

  <!-- Main content -->
  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
