<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h4>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" id="title-form-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="form-inline">
      <%= f.text_field :title, class: 'form-control', id: 'title-input' %>
      <%= "| #{@title_suffix}" unless @title_suffix.nil? %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :breadcrumb_title %>
    <%= f.text_field :breadcrumb_title, class: 'form-control' %>
    <span id="helpBlock" class="help-block">
      <%= "breadcrumbs actuel: #{generate_breadcrumbs(@article.breadcrumbs_info)}".html_safe %>
    </span>
  </div>

  <div class="form-group">
    <%= f.label :uri %>
    <%= f.text_field :uri, class: 'form-control' %>
    <span id="helpBlock" class="help-block">
      <%= "url actuelle: #{@article.url}".html_safe %>
    </span>
  </div>

  <div class="form-group">
   <%= f.label :parent %>
   <%= f.select :parent_id, @parents, {}, { class: 'form-control' } %>
  </div>

<!--   <div class="form-group">
    <%= f.label :is_placeholder %><br />
    <%= f.check_box :is_placeholder %>
  </div> -->

  <div class="form-group" id="metadata-form-group">
    <%= f.label :metadata, 'Decription metadata', class: 'control-label' %>
    <%= f.text_area :metadata, rows: 3, class: 'form-control', id: "metadata-input" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, id: "seo_article_content" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
$(function() {

  <% unless @title_suffix.nil? %>
    var title_suffix = '<%= @title_suffix %>';
  <% end %>

  $('#seo_article_content').redactor();


  // Lengths validations
  check_title_length();
  check_metadata_length();
  $("#title-input").keyup(check_title_length);
  $("#metadata-input").keyup(check_metadata_length);

  function check_title_length() {
    var title_content = $("#title-input").val();
    if (typeof title_suffix !== 'undefined') {
      title_content = title_content.concat(' | ').concat(title_suffix);
    }
    if(title_content.length > 65) {
      addWarningMessage($("#title-form-group"), "Un titre de plus de 65 caractères peut être cropé par les moteurs de recherche.");
    } else {
      removeWarningMessage($("#title-form-group"));
    }
  }

  function check_metadata_length() {
    var metadata_content = $("#metadata-input").val();
    if(metadata_content.length > 156) {
      console.debug('rred');
      addWarningMessage($("#metadata-form-group"), "Une description metadata de plus de 156 caractères peut être cropé par les moteurs de recherche.");
    } else {
      console.debug('green');
      removeWarningMessage($("#metadata-form-group"));
    }
  }

  function addWarningMessage(element, text) {
    if (!element.hasClass('has-warning')) {
      element.addClass('has-warning');
      element.append("<span class='help-block'>" + text +  "</span>");
    }
  }

  function removeWarningMessage(element) {
    element.removeClass('has-warning');
    element.find('.help-block').remove();
  }

});
</script>

