<%= content_for :navbar_right do %>
  <li>
    <%= link_to 'Nouvel article', new_article_path %>
  </li>
<% end %>

<h3>Articles SEO (<%= @articles.size %>)</h3>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.url %></td>
      <td><%= generate_breadcrumbs(article.breadcrumbs_info) %></td>
      <td>
          <%= link_to 'Voir', article.url %>
          | <%= link_to 'Modifier', edit_article_path(article) %>
          | <%= link_to 'Supprimer', article, method: :delete, data: { confirm: "T'es sur meuf/mec ? " } %>
      </td>
    </tr>
  <% end %>
  </table>
</div>


